# Week 10 Assignment

Because I was unable to conduct our workshop this week, I'm keeping the assignment light as well.  Below you'll find just two steps for this week: one programming exercise and then a planning activity for your final project.

For clarification, the "final project" I've been referring to is your "final."  It is not a project in addition to a final exam.  They're one-in-the-same.

Please do the programming exercise and verify that your code works using the tests, then think about your final project and fill out the questions in the second part.

---
---

### 47.1: Filtering and summarizing data

For this work, you'll find a data file in `/data/complications_all.csv`.

Read in the data file and create a variable called `mo_hospitals` that contains a data frame from the `complications_all.csv` file, filtered down to only contain those hospitals from the state of Missouri (MO).

Then aggregate that data by hospital into a variable named `mo_summary`.  There are some key fields that we want to summarize:
* We want to know the earliest date that each hospital was participating in any program
* We want to know the latest date that each hospital stopped participating in any program
* We want to know the total number of patients in the denominators of these programs

Some things to note:
* You will need to convert the `Start Date` and `End Date` to actual datetime fields
* You will need to clean up and convert the `Denominator` field to just be numeric - the rule that you should use it to simply remove any records where the `Denominator` is `'Not Available'`


The final result of this step should be a new data frame called `mo_summary` that contains one row for each hospital and contains the min start date, max end date, and total denominator.  Use the names `start_date`, `end_date`, and `number` for those columns in `mo_summary`.


You do not need to create your code in the form of a function, just make sure your variable names match what I've described above so the tests work.

In [1]:
import pandas as pd
import numpy as np
import datetime
data=pd.read_csv('complications_all.csv', parse_dates=['Start Date', 'End Date'], infer_datetime_format=True)
data.columns
mo_hospitals=data[data.State=='MO']
mo_hospitals
# This is just to show you the name to use for the variable you need to create for this step to pass.
#mo_hospitals = ...

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Start Date,End Date
45534,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,26,2.5,1.4,4.2,NaN,2015-04-01,2018-03-31
45535,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,175,13.9,11.0,16.9,NaN,2015-07-01,2018-06-30
45536,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,91,2.5,1.2,5.1,NaN,2015-07-01,2018-06-30
45537,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,326,8.5,6.5,10.9,NaN,2015-07-01,2018-06-30
45538,260001,MERCY HOSPITAL JOPLIN,100 MERCY WAY,JOPLIN,MO,64804,JASPER,(417) 781-2727,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,461,13.1,10.7,15.9,NaN,2015-07-01,2018-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47662,263304,SHRINERS HOSPITALS FOR CHILDREN,4400 CLAYTON AVE,SAINT LOUIS,MO,63110,ST. LOUIS CITY,(314) 432-3600,PSI_4_SURG_COMP,Deaths among Patients with Serious Treatable C...,Not Available,Not Available,Not Available,Not Available,Not Available,19.0,2016-07-01,2018-06-30
47663,263304,SHRINERS HOSPITALS FOR CHILDREN,4400 CLAYTON AVE,SAINT LOUIS,MO,63110,ST. LOUIS CITY,(314) 432-3600,PSI_6_IAT_PTX,Collapsed lung due to medical treatment,Not Available,Not Available,Not Available,Not Available,Not Available,19.0,2016-07-01,2018-06-30
47664,263304,SHRINERS HOSPITALS FOR CHILDREN,4400 CLAYTON AVE,SAINT LOUIS,MO,63110,ST. LOUIS CITY,(314) 432-3600,PSI_8_POST_HIP,Broken hip from a fall after surgery,Not Available,Not Available,Not Available,Not Available,Not Available,19.0,2016-07-01,2018-06-30
47665,263304,SHRINERS HOSPITALS FOR CHILDREN,4400 CLAYTON AVE,SAINT LOUIS,MO,63110,ST. LOUIS CITY,(314) 432-3600,PSI_90_SAFETY,Serious complications,Not Available,Not Available,Not Available,Not Available,Not Available,19.0,2016-07-01,2018-06-30
47666,263304,SHRINERS HOSPITALS FOR CHILDREN,4400 CLAYTON AVE,SAINT LOUIS,MO,63110,ST. LOUIS CITY,(314) 432-3600,PSI_9_POST_HEM,Perioperative Hemorrhage or Hematoma Rate,Not Available,Not Available,Not Available,Not Available,Not Available,19.0,2016-07-01,2018-06-30

In [2]:
mo=mo_hospitals[['Facility Name','Denominator', 'Start Date', 'End Date' ]]
#mo['Start_Date']= pd.to_datetime(mo.Start Date)
#mo['start_date']= mo['Start Date'].apply(lambda x: dt.datetime.strptime(x,'%Y%m%d'))
#mo[['start_date', 'end_date']]= mo['Start Date', 'End Date'].apply(pd.to_datetime, format='%Y/%m/%d')
#mo['start_date']= mo['Start Date'].astype('datetime64')
mo.dtypes

mo.dropna(how="all")
#mo['Denominator']= mo['Denominator'].astype(float)
mo.drop(mo[mo['Denominator'] == 'Not Available'].index, inplace = True)
mo

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                            Facility Name Denominator Start Date   End Date
45534               MERCY HOSPITAL JOPLIN          26 2015-04-01 2018-03-31
45535               MERCY HOSPITAL JOPLIN         175 2015-07-01 2018-06-30
45536               MERCY HOSPITAL JOPLIN          91 2015-07-01 2018-06-30
45537               MERCY HOSPITAL JOPLIN         326 2015-07-01 2018-06-30
45538               MERCY HOSPITAL JOPLIN         461 2015-07-01 2018-06-30
...                                   ...         ...        ...        ...
47557  MISSOURI BAPTIST SULLIVAN HOSPITAL         114 2015-07-01 2018-06-30
47558  MISSOURI BAPTIST SULLIVAN HOSPITAL          77 2015-07-01 2018-06-30
47575             MERCY HOSPITAL CARTHAGE          58 2015-07-01 2018-06-30
47576             MERCY HOSPITAL CARTHAGE          27 2015-07-01 2018-06-30
47577             MERCY HOSPITAL CARTHAGE          68 2015-07-01 2018-06-30

[1189 rows x 4 columns]

In [3]:
mo=mo.rename(columns={ 'Start Date':'start_date', 'End Date': 'end_date'})
mo

                            Facility Name Denominator start_date   end_date
45534               MERCY HOSPITAL JOPLIN          26 2015-04-01 2018-03-31
45535               MERCY HOSPITAL JOPLIN         175 2015-07-01 2018-06-30
45536               MERCY HOSPITAL JOPLIN          91 2015-07-01 2018-06-30
45537               MERCY HOSPITAL JOPLIN         326 2015-07-01 2018-06-30
45538               MERCY HOSPITAL JOPLIN         461 2015-07-01 2018-06-30
...                                   ...         ...        ...        ...
47557  MISSOURI BAPTIST SULLIVAN HOSPITAL         114 2015-07-01 2018-06-30
47558  MISSOURI BAPTIST SULLIVAN HOSPITAL          77 2015-07-01 2018-06-30
47575             MERCY HOSPITAL CARTHAGE          58 2015-07-01 2018-06-30
47576             MERCY HOSPITAL CARTHAGE          27 2015-07-01 2018-06-30
47577             MERCY HOSPITAL CARTHAGE          68 2015-07-01 2018-06-30

[1189 rows x 4 columns]

In [4]:
mo['Denominator']= mo['Denominator'].astype(float)

In [5]:
#total=mo.groupby(['Facility Name'])['Denominator'].sum  # Added example for two output columns from a single input column
number=mo.groupby(['Facility Name'], as_index= False)['Denominator'].sum()
start=mo.groupby(['Facility Name'], as_index=False)['start_date'].min()
end=mo.groupby(['Facility Name'], as_index=False)['end_date'].max()
#df.groupby(['A','C'], as_index=False)['B'].sum()
#<bound method GroupBy.sum of <pandas.core.groupby.generic.SeriesGroupBy object at 0x7fd745715e80>>

end

                           Facility Name   end_date
0                 BARNES JEWISH HOSPITAL 2018-06-30
1       BARNES-JEWISH ST PETERS HOSPITAL 2018-06-30
2     BARNES-JEWISH WEST COUNTY HOSPITAL 2018-06-30
3         BATES COUNTY MEMORIAL HOSPITAL 2018-06-30
4         BELTON REGIONAL MEDICAL CENTER 2018-06-30
..                                   ...        ...
103       TRUMAN MEDICAL CENTER LAKEWOOD 2018-06-30
104   UNIVERSITY OF MISSOURI HEALTH CARE 2018-06-30
105  WASHINGTON COUNTY MEMORIAL HOSPITAL 2018-06-30
106      WESTERN MISSOURI MEDICAL CENTER 2018-06-30
107             WRIGHT MEMORIAL HOSPITAL 2018-06-30

[108 rows x 2 columns]

In [14]:
mo_summary=pd.merge(start, end, how= 'outer', on=['Facility Name'])
mo_summary=mo_summary.merge(number, how= 'outer', on=['Facility Name'])
mo_summary=mo_summary.rename(columns={ 'Denominator': 'number'})
mo_summary=mo_summary.set_index('Facility Name')
mo_summary

                                    start_date   end_date    number
Facility Name
BARNES JEWISH HOSPITAL              2015-04-01 2018-06-30  131313.0
BARNES-JEWISH ST PETERS HOSPITAL    2015-04-01 2018-06-30   15668.0
BARNES-JEWISH WEST COUNTY HOSPITAL  2015-04-01 2018-06-30    9622.0
BATES COUNTY MEMORIAL HOSPITAL      2015-07-01 2018-06-30    3117.0
BELTON REGIONAL MEDICAL CENTER      2015-04-01 2018-06-30    9270.0
...                                        ...        ...       ...
TRUMAN MEDICAL CENTER LAKEWOOD      2015-04-01 2018-06-30    4297.0
UNIVERSITY OF MISSOURI HEALTH CARE  2015-04-01 2018-06-30   56493.0
WASHINGTON COUNTY MEMORIAL HOSPITAL 2015-07-01 2018-06-30     220.0
WESTERN MISSOURI MEDICAL CENTER     2015-04-01 2018-06-30    7254.0
WRIGHT MEMORIAL HOSPITAL            2015-07-01 2018-06-30     198.0

[108 rows x 3 columns]

In [15]:
# These assertions will help make sure that you're on the right track.
assert(mo_hospitals['State'].unique() == ['MO'])
assert(mo_hospitals.shape == (2133,18))

In [16]:
mo_summary.loc['BOONE HOSPITAL CENTER'].number

63099.0

In [17]:
assert(mo_summary['number'].sum() == 1766908)
assert(mo_summary['start_date'].min() == pd.Timestamp(2015,4,1))
assert(mo_summary['end_date'].max() == pd.Timestamp(2018,6,30))
assert(mo_summary.shape == (108,3))
assert(mo_summary.loc['BARNES JEWISH HOSPITAL'].number == 131313)
assert(mo_summary.loc['BOONE HOSPITAL CENTER'].number == 63099)

---

### 47.2 Planning your final project

You should be thinking about the things we've been learning and how you can apply them to your final project.  Use the rubric to help guid your thinking and then answer the questions below.  This is meant as a guide to help you think through what you will do.

#### A) Data Access

Your project should include data from at least three distinct types of sources.  For example: AWS S3, Relational Databases, Internet, Web Services, local files.  List what data sources you're planning to use.

For my final project I am going to compare rates of CV mortaility and readmissions between colorado to national data. I am also going to compare rates between local hospitals to the state and national rate.
If possible, I am going to compare associated cost

#### B. Data Formats

Your project should include data that comes in different file formats.  For example: HL7, EDI, HTML, CSV, Excel, JSON, XML.  List what data formats you're planning to use.

I currently only and CSV and excel files but will try to find some of the data in other formats

#### C. Objective

What purpose would your project serve in a real work setting?  Take a couple of paragraphs to write down why this is an interesting product.

This compariason would be important for any hospital, as understanding where they stand can help direct QI projects.

---

## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Save this note with Ctrl-S (or Cmd-S)
2. Skip down to the last command cell (the one starting with `%%bash`) and run that cell.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

In [ ]:
assert False, "DO NOT REMOVE THIS LINE"

---

In [19]:
%%bash
git pull
git add week10_assignment_2.ipynb
git commit -a -m "Submitting the week 10 programming assignment"
git push

Already up to date.
[main ba50eb4] Submitting the week 10 programming assignment
 2 files changed, 32 insertions(+), 11 deletions(-)

To github.com:skuca/hds5210-2021.git
   d3e8b5d..ba50eb4  main -> main


---

If the message above says something like _Submitting the week 8 programming assignment_ or _Everything is up to date_, then your work was submitted correctly.