# Week 7 Assignment

_MkKinney 6.1_

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  For these exercises, we're going to use two practical examples of fetching data from web pages to show how to use Pandas and BeautifulSoup to extract structured information from the web.

---
---

### 33.1 Parsing a list in HTML

Go to the Banner Health Price Transparency Page: https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency

Notice that there is a list of hospitals and the city they are in.  We want to parse the underlying HTML to create a list of all the hospitals along with which city they're in.

```json
[
    ["Banner - University Medical Center Phoenix", "Arizona"],
    ["Banner - University Medical Center South ", "Arizona"],
    ...
]
```

To examine the underlying HTML code, you can use Chrome, right-click, and choose **Inspect**.

For reference, the documentation for BeautifulSoup is here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [1]:
from bs4 import BeautifulSoup
import requests
headers = { "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" }

response = requests.get('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency', headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [2]:
div = soup.find_all('div', {"class":"col-md-8"})[0]
for hospital_list in div.find_all('ul'):
    state = hospital_list.previous_sibling.previous_sibling.string
    for hospital in hospital_list.find_all('li'):
        print(state, hospital.text)

Arizona Banner - University Medical Center Phoenix
Arizona Banner - University Medical Center South
Arizona Banner - University Medical Center Tucson
Arizona Banner Baywood Medical Center
Arizona Banner Behavioral Health Hospital
Arizona Banner Boswell Medical Center
Arizona Banner Casa Grande Medical Center
Arizona Banner Del E. Webb Medical Center
Arizona Banner Desert Medical Center/Cardon Children's Medical Center
Arizona Banner Estrella Medical Center
Arizona Banner Gateway Medical Center/Banner MD Anderson Cancer Center
Arizona Banner Goldfield Medical Center
Arizona Banner Heart Hospital
Arizona Banner Ironwood Medical Center
Arizona Banner Ocotillo Medical Center
Arizona Banner Payson Medical Center
Arizona Banner Thunderbird Medical Center
Arizona Page Hospital
California Banner Lassen Medical Center
Colorado Banner Fort Collins Medical Center
Colorado McKee Medical Center
Colorado North Colorado Medical Center
Colorado Sterling Regional Medical Center
Colorado East Morgan County Hospital
Nebraska Ogallala Community Hospital
Nevada Banner Churchill Community Hospital
Wyoming Banner Wyoming Medical Center
Wyoming Community Hospital
Wyoming Washakie Medical Center
Wyoming Platte County Memorial Hospital
State-Specific Regulations Arizona
State-Specific Regulations California
State-Specific Regulations Colorado
State-Specific Regulations Nebraska
State-Specific Regulations Nevada
State-Specific Regulations Wyoming

---

### 33.2 Using Pandas to Read Tables


Pandas documentation for loading data https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#input-output

Pandas documentation for describing the shape of data https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.shape.html

In [3]:
import pandas as pd

In [4]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Diagnosis-related_group')
len(tables)

5

In [5]:
for index,table in enumerate(tables):
    print("**************TABLE {}".format(index))
    print(table)

**************TABLE 0
    0                                                  1
0 NaN  This article has multiple issues. Please help ...
1 NaN  This article needs to be updated. Please updat...
2 NaN  This article needs additional citations for ve...
**************TABLE 1
    0                                                  1
0 NaN  This article needs to be updated. Please updat...
**************TABLE 2
    0                                                  1
0 NaN  This article needs additional citations for ve...
**************TABLE 3
   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8  \
0                                         Description
1                              Average length of stay
2                      Large urban labor-related rate
3                       Large urban non-labor-related
4                                          Wage index
5   Standard Federal Rate: labor * wage index + no...
6                     DRG relative weight (RW) factor
7    Weighted payment: Standard Federal Rate * DRG RW
8                Disproportionate Share Payment (DSH)
9                    Indirect medical education (IME)
10                   Total cost outlier reimbursement
11  Total operating payment: Weighted payment * (1...

   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8.1
0                                               Value
1                                             3.8[16]
2                                           $2,809.18
3                                           $1,141.85
4                                              1.4193
5                                           $5,128.92
6                                              1.8128
7                                           $9,297.71
8                                              0.1413
9                                              0.0744
10                                                 $0
11                                         $11,303.23
**************TABLE 4
     Name  Version       Start date  \
0  MS-DRG       25  October 1, 2007
1  MS-DRG       26  October 1, 2008
2  MS-DRG       27  October 1, 2009
3  MS-DRG       31  October 1, 2013
4  MS-DRG       32  October 1, 2014
5  MS-DRG       33  October 1, 2015
6  MS-DRG       34  October 1, 2016
7  MS-DRG       35  October 1, 2017

                                               Notes
0  Group numbers resequenced, so that for instanc...
1  One main change: implementation of Hospital Ac...
2  Changes involved are mainly related to Influen...
3                                                NaN
4                                                NaN
5            Convert from ICD-9-CM to ICD-10-CM.[17]
6  Address ICD-10 replication issues introduced i...
7  MS-DRGs 984 through 986 deleted and reassigned...

In [6]:
drgs = tables[4]
drgs

,Name,Version,Start date,Notes
0,MS-DRG,25,"October 1, 2007","Group numbers resequenced, so that for instanc..."
1,MS-DRG,26,"October 1, 2008",One main change: implementation of Hospital Ac...
2,MS-DRG,27,"October 1, 2009",Changes involved are mainly related to Influen...
3,MS-DRG,31,"October 1, 2013",NaN
4,MS-DRG,32,"October 1, 2014",NaN
5,MS-DRG,33,"October 1, 2015",Convert from ICD-9-CM to ICD-10-CM.[17]
6,MS-DRG,34,"October 1, 2016",Address ICD-10 replication issues introduced i...
7,MS-DRG,35,"October 1, 2017",MS-DRGs 984 through 986 deleted and reassigned...

---

### 33.3 Find Something of Your Own

Do some web searches and find an HTML page with some data that is interesting to something you're studying.  You can extract and parse that information using either BeautifulSoup or Pandas.  If you're using Pandas, then do something interesting to format and structure your data.  If you're using BeautifulSoup, you'll just need to do the work of parsing the data out of HTML -- that's hard enough!

You don't need to build this as a function.  Just use notebook cells as I've done above.  You will be graded based on _style_.  Use variable names that make sense for your problem / solution. Cleanup anything you don't need before you submit your work.

In [7]:
# Your Code Here

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [9]:
import requests

In [10]:
r=requests.get('https://data.cdc.gov/api/views/ntny-77fx/rows.csv?accessType=DOWNLOAD')

In [11]:
r2=requests.get('https://data.cdc.gov/api/views/tqwu-4a7k/rows.csv?accessType=DOWNLOAD')

In [12]:
r2.status_code

200

In [13]:
r2.text[1:1000]

'ear,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon\n2017,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Stroke Mortality,2,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Average Rate",,,Gender,Overall,Race/Ethnicity,Overall,T6,02013,55.442393334,-161.9599296\n2017,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Stroke Mortality,0,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Average Rate",,,Gender,Overall,Race/Ethnicity,Overall,T6,02016,53.648343064,-166.9175329\n2017,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Stroke Mortality,67.2,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Average Rate",,,Gender,Overall,Race/Ethnicity,Overall,T6,02020,61.159144533,-149.1045591\n2017,AK,Bethel,County,NVSS,Ca'

In [14]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
import csv
import sys

In [15]:
with open('utilization.csv','w') as f:
    f.write(r.text)

In [16]:
with open('mortality.csv', 'w')as g:
    g.write(r2.text)

In [17]:
utilization= pd.read_csv('utilization.csv')

In [18]:
utilization.head()

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2005,US,United States,HCUP,None,None,None,None,Cardiovascular Diseases,Coronary Heart Disease,...,Age,18-24,C1,T4,HC303,Crude,BOC03,AGE01,59,NaN
1,2013,US,United States,HCUP,None,None,None,None,Cardiovascular Diseases,Heart Failure,...,Gender,Male,C1,T5,HC503,Crude,BOC02,GEN01,59,NaN
2,2011,US,United States,HCUP,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,Age,65+,C1,T1,HC101,Crude,BOC03,AGE06,59,NaN
3,2009,US,United States,HCUP,None,None,None,None,Cardiovascular Diseases,Stroke,...,Gender,Male,C1,T6,HC603,Crude,BOC02,GEN01,59,NaN
4,2013,US,United States,HCUP,None,None,Healthy People 2020,None,Cardiovascular Diseases,Heart Failure,...,Age,45-64,C1,T5,HC501,Crude,BOC03,AGE05,59,NaN

In [19]:
mortality=pd.read_csv('mortality.csv')

In [20]:
mortality.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
0,2017,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Stroke Mortality,2.0,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T6,2013,55.442393,-161.959930
1,2017,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Stroke Mortality,0.0,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T6,2016,53.648343,-166.917533
2,2017,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Stroke Mortality,67.2,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T6,2020,61.159145,-149.104559
3,2017,AK,Bethel,County,NVSS,Cardiovascular Diseases,Stroke Mortality,104.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T6,2050,60.923648,-159.753262
4,2017,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Stroke Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T6,2060,58.753496,-156.694662

In [21]:
Mort_s= mortality[['Year', 'LocationAbbr', 'Class', 'Topic', 'Data_Value','Data_Value_Unit', 'StratificationCategory1', 'StratificationCategory2', 'Topic']]

In [22]:
Mort_s.head()

,Year,LocationAbbr,Class,Topic,Data_Value,Data_Value_Unit,StratificationCategory1,StratificationCategory2,Topic
0,2017,AK,Cardiovascular Diseases,Stroke Mortality,2.0,"per 100,000 population",Gender,Race/Ethnicity,Stroke Mortality
1,2017,AK,Cardiovascular Diseases,Stroke Mortality,0.0,"per 100,000 population",Gender,Race/Ethnicity,Stroke Mortality
2,2017,AK,Cardiovascular Diseases,Stroke Mortality,67.2,"per 100,000 population",Gender,Race/Ethnicity,Stroke Mortality
3,2017,AK,Cardiovascular Diseases,Stroke Mortality,104.6,"per 100,000 population",Gender,Race/Ethnicity,Stroke Mortality
4,2017,AK,Cardiovascular Diseases,Stroke Mortality,NaN,"per 100,000 population",Gender,Race/Ethnicity,Stroke Mortality

In [23]:
#Mort17[Mort_s['Year']==2017]
#C_Mort17=Mort17.copy()
#Mort18=Mort_s[Mort_s['Year']==2018]
#Mort19=Mort_s[Mort_s['Year']==2019]
Mort_s.groupby(['Year', 'LocationAbbr'])['Data_Value'].aggregate(sum).unstack()

LocationAbbr,AK,AL,AR,AS,AZ,CA,CO,CT,DC,DE,...,TX,US,UT,VA,VI,VT,WA,WI,WV,WY
Year,,,,,,,,,,,,,,,,,,,,,
2017,13984.5,67264.7,59883.1,591.2,16492.0,65658.0,39880.9,6764.0,1538.2,4822.2,...,207605.3,1282.2,17914.3,92527.4,197.4,5215.7,34317.3,36755.9,29443.5,9456.1

---

## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Save this note with Ctrl-S (or Cmd-S)
2. Skip down to the last command cell (the one starting with `%%bash`) and run that cell.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

In [24]:
assert False, "DO NOT REMOVE THIS LINE"

AssertionError: DO NOT REMOVE THIS LINE

---

In [25]:
%%bash
git pull
git add week08_assignment_2.ipynb
git commit -a -m "Submitting the week 8 programming assignment"
git push

Already up to date.
[main a44cc17] Submitting the week 8 programming assignment
 2 files changed, 1390 insertions(+), 6 deletions(-)
 create mode 100644 week8/week08_assignment_2.ipynb

To github.com:skuca/hds5210-2021.git
   5cc0aa1..a44cc17  main -> main


---

If the message above says something like _Submitting the week 8 programming assignment_ or _Everything is up to date_, then your work was submitted correctly.